.visuallyhidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0;
}
.btn.btn-default.read-more.btn-search {
	background: #6ba132;
	color: #fff;
	margin-left: 1em;
}
.btn.btn-default.read-more.btn-search:hover {
	background-color: #336600;
    	border-color: #336600;
    	text-decoration: none;
}

#directory-search-title {
	border-radius: 5px;
	display: inline-block;
	font-size: 25px;
	font-weight: 100%;
	margin-bottom: 15px;
	padding: 5px 15px;
	width: 100%;
	border: 1px solid #999;
}